@using Microsoft.AspNetCore.Identity;
@using FoodApp.Models;

@inject UserManager<ApplicationUser> UserManager;

@if(!User.Identity.IsAuthenticated)
{
      <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
                        <i class="bi bi-box-arrow-in-right"></i>Log In
      </a>
       <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Register">
                        <i class="bi bi-person-plus"></i>Register
      </a>
}
else
{
      <form id="logoutForm" class="form-inline"asp-area="" asp-controller="Account" asp-action="Logout">
                        <button id="logout" type="submit" class="nav-link  btn btn-danger">Logout</button>
                       </form>

       
                 @*   <ul class="navbar-nav text-light">
                        <partial name="_LoginPartial.cshtml"/>
                    </ul>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
}

                  
                      